body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

#app {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    font-size: 40px;
    color: #07007b;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.add-task {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #07007b;
    
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}
button:hover{
    background-color: #07007b;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #f5f5f5;
}

.task-content {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 10px;
    margin-top: 20px;
}

.completed-task {
    text-decoration: line-through;
    color: #1e0b69;
    margin-bottom: 20px;
}